*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
#logo{
	width: 122px;
	height: 95px;
	margin-top: 52px;
	margin-left: 140px;
	mix-blend-mode: multiply;
}
nav a{
	text-decoration: none;
	color: #707070;
	margin-left: 250px;
}
nav li{
	display: inline-block;
	letter-spacing: 0.2px;
	font-size: 15px;
}
ul{
	list-style-type: none;
}
.mainsection{
	width: 1640px;
    height: 613px;
    object-fit: contain;
    margin-inline: auto;
    margin-top: 30px;
    margin-bottom: 35px;
}
.load{
	margin-top: 90px;
}
.load a{
	margin-left: 42%;
	color: #707070;
	letter-spacing: 0.3px;
	font-size: 30px;
}
article p{
	font-size: 18px;
	width: 446px;
	height: 48px;
}
footer{
	background: #2E2E2E;
	color: #F2F2F2;
}
footer div{
	text-align: center;
	margin-left: 15%;
	margin-bottom: 5%;
	display: inline-block;
}
footer a{
	text-decoration: none;
	color: #F2F2F2;
}
.article{
	width: 30%;
	display: inline-block;
	border: 1px solid #ccc;
	color: #707070;;
}
.article img{
	max-width: 483px;
	width: 100%;
}
.article a{
	text-decoration: none;
	color: #707070;
	margin-left: 450px;
}
.section{
	margin-top: 100px;
	margin-left: 140px;
	margin-bottom: 100px;
}
.section h1{
	color: #707070;
}